*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    font-family:Segoe UI;
    background:url("fundo.jpg");
    background-size:cover;
    background-position:center;
}

.overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.7);
}

.container{
    position:relative;
    z-index:2;
    max-width:1200px;
    margin:auto;
    padding:30px;
}

h1{
    text-align:center;
    color:#FFD700;
    margin-bottom:40px;
    font-size:50px;
}

.card{
    width:350px;
    margin:auto;

    background:rgba(255,255,255,.1);

    border:1px solid rgba(255,255,255,.2);

    backdrop-filter:blur(10px);

    border-radius:25px;

    padding:50px;

    text-align:center;

    color:white;

    cursor:pointer;

    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card i{
    font-size:70px;
    color:#FFD700;
    margin-bottom:20px;
}

.abas{
    display:flex;
    gap:15px;
    margin-bottom:25px;
    flex-wrap:wrap;
}

.abas button{
    background:#003366;
    color:white;
    border:none;
    border-radius:10px;
    padding:15px 20px;
    cursor:pointer;
}

.abas button:hover{
    background:#0055aa;
}

.turmas{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(100px,1fr));
    gap:10px;
}

.turma{
    background:#003366;
    color:white;
    text-align:center;
    padding:15px;
    border-radius:10px;
    cursor:pointer;
}

.turma:hover{
    background:#0055aa;
}

.lista{
    background:white;
    margin-top:20px;
    padding:20px;
    border-radius:15px;
}

.item{
    background:#f3f3f3;
    padding:15px;
    margin-bottom:10px;
    border-radius:10px;
}

select{
    padding:8px;
    border-radius:8px;
}